p{
	color: black
}

a{
	color: blue
}

body {
    font-size: 15px;
	font-family: 'Chewy', cursive;
	background-color: #4E8699
}

.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: f1f1f1;
	width: 150px;
	height: 100%;
	position: fixed;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color:000;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	
}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}

h1 {
    color: lightblue;
    background-color: #4E8699;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	border: 5px;
	border-style: dashed;
}

#mainContent {
	margin-left: 150px;
	margin-right: 75px;
}

@media screen and (max-width: 600px){
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: f1f1f1;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: auto;
}

	nav ul li a{
		display: block;
		text-decoration: none;
		color:000;
		padding-bottom: 8px;
		padding-left: 16px;
		padding-top: 8px;
	
}
	nav ul li{
		float: left;
	}
	#mainContent {
		margin-left: 5%;
		margin-right: 5%;
		
	}
	
}