p{
	color: black
}

a{
	color: blue
}

body {
    font-size: 16px;
	background-color: #4E8699
}

h1 {
    color: lightblue;
    background-color: #4E8699;
	text-align: center;
	border: 5px;
	border-style: dashed;
}

#mainContent {
	margin-left: 75px;
	margin-right: 75px;
}