a{
	color: blue
}

body {
	font-size: 15px;
	font-family: 'Permanent Marker', cursive;
	background-color: #4E8699;
}

h1 {
	color: lightblue;
	font-family: 'Permanent Marker', cursive;
	background-color: #4E8699;
	text-align: center;
	border: 5px;
	border-style: dashed;
}

#mainContent {
	margin-left: 150px;
	margin-right: 75px;	
}

.centerMe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	width: 130px;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	transition: 1s;
}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 600px) {
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: auto;
	}

	nav ul li a {
		display: block;
		text-decoration: none;
		color: #000;
		padding-left: 16px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 16px;
	}
	
	nav ul li {
		float: left;
	}
	
	#mainContent {
		margin-left: 5%;
		margin-right: 5%;	
		padding-top: 30%;
	}
}